/*!
 *  Formir - Room Gallery v1.0.0-beta by @konrad-k - https://formir.io/room-gallery/
 *  All rights reserved - Copyright © 2023
 */
// FONTS


// SETUP

/// CLASSES
$room: room-gallery;  // main wrapper
$room-dark: room-dark;
$room-dark-auto: room-dark-auto;
$room-body: room-body;  // body of room
$room-arena: room-arena;  // next wrapper coled arena
$room-walls: room-walls; // walls in 3d
$room-wall: room-wall;
$room-wall-active: wall-active;
$room-ceil: room-ceil;
$room-floor: room-floor;
$room-item: room-item; // item to display on the wall
$room-item-active: item-active;
$room-item-image: item-image; // image container
$room-item-desc: item-desc; // image drescription
$room-zoom: room-zoom; // zoom control input
$room-paginations: room-paginations; // pagination wrapper
$room-navigations: room-navigations;
$room-prev-button: room-prev;
$room-next-button: room-next;
$room-icon: room-icon;
$room-zoom-button: room-zoom-btn;  // button to zoom in
$room-dark-button: room-dark-btn;
$room-exit-button: room-exit-btn;  // button to live zoom
$room-canvas: room-canvas; // class for border/canvas style


/// SASS CORE VARIABLES - editable in SASS
$room-size-width: 100vmax;
$room-size-height: 100vmin;

$room-mobile-media-width: 945px; // not use % unit or calc(), you can use px, rem, cm, vh, vw etc
$room-mobile-size-width: 100vw; // not use % unit or calc(), you can use px, rem, cm, vh, vw etc - recommend 100vw
$room-mobile-size-height: 100vh; // recomment 100vh

// CSS VAR VARIABLES - editable in JS
$room-rotate-speed: var(--room-rotate-speed, 2s);
$room-rotate-timing: var(--room-rotate-timing, ease-in-out);

$room-font-family: var(--room-font-family, Arial);

$room-perspective: $room-size-width;
$room-mobile-perspective: $room-mobile-size-width;


$room-scale: var(--room-scale, 1.1);
$room-scale-zoom: var(--room-scale-zoom, 1.5);
$room-offset-y: var(--room-offset, 0); // use %

$room-item-height: var(--room-item-height, 90%);
$room-item-width: var(--room-item-width, 90%);

$room-zindex: var(--room-zindex, 1000);

$room-text-font-size: var(--room-text-font-size, 14px);
$room-text-font-size-mobile: var(--room-text-font-size-mobile, 2vmin);
$room-font-line-height: var(--room-font-line-height, 1.3em);
$room-text-margin-top: var(--room-text-margin-top, 1.5rem);
$room-text-max-height: var(--room-text-max-height, 20%);
$room-text-min-height: var(--room-text-min-height, 15%);
$room-text-max-width: var(--room-text-max-width, 70%);
$room-text-padding: var(--room-text-padding, 20px 0);
$room-navigations-margin: var(--room-navigations-margin, 20px);
$room-button-size: var(--room-button-size, 35px);
$room-pagination-button-size: var(--room-pagination-button-size, 25px);
$room-pagination-buttons-space: var(--room-pagination-buttons-space, 7px);
$room-nav-button-size: var(--room-nav-button-size, 35px);
$room-buttons-position: var(--room-buttons-position, 5%);
$room-button-zoom-position: var(--room-button-zoom-position, 10%);
$room-button-dark-position: var(--room-button-dark-position, 10%);
$room-button-zoom-width: var(--room-button-zoom-width, 35px);
$room-button-exit-width: var(--room-button-exit-width, 35px);
$room-button-dark-width: var(--room-button-dark-width, 35px);
$room-pagination-position: var(--room-pagination-position, 5%);
$room-button-transition: var(--room-button-transition, opacity 0.5s linear);
$room-button-opacity: var(--room-button-opacity, 1);

$room-background-blend-mode: var(--room-background-blend-mode);
$room-body-background: var(--room-body-background);
$room-text-color: var(--room-text-color);
$room-floor-background: var(--room-floor-background);
$room-floor-shadow: var(--room-floor-shadow);
$room-wall-background: var(--room-wall-background);
$room-wall-shadow: var(--room-wall-shadow);
$room-ceil-background: var(--room-ceil-background);
$room-ceil-shadow: var(--room-ceil-shadow);
$room-button-background: var(--room-button-background);
$room-button-color: var(--room-button-color);
$room-button-border: var(--room-button-border);
$room-button-shadow: var(--room-button-shadow);
$room-button-current-background: var(--room-button-current-background);
$room-button-current-border: var(--room-button-current-border);
$room-button-current-color: var(--room-button-current-color);
$room-button-current-shadow: var(--room-button-current-shadow);
$room-canvas-border: var(--room-canvas-border);
$room-canvas-shadow: var(--room-canvas-shadow);

// Light theme:
$light-room-background-blend-mode: var(--room-light-room-background-blend-mode, multiply);
$light-room-body-background: var(--room-light-room-body-background, #fff);
$light-room-text-color: var(--room-light-room-text-color, #2d2d2d);
$light-room-floor-background: var(--room-light-room-floor-background, #21262c url('./../img/floor.png') repeat 400px 600px);
$light-room-floor-shadow: var(--room-light-room-floor-shadow, 0 0 100px rgba(0, 0, 0, 0.1), 0 0 150px rgba(0, 0, 0, 0.2) inset);
$light-room-wall-background: var(--room-light-room-wall-background, #fff url('./../img/wall.png') repeat 30px 30px);
$light-room-wall-shadow: var(--room-light-room-wall-shadow, 0 0 50px rgba(0, 0, 0, 0.1), 0 0 100px rgba(0, 0, 0, 0.2) inset);
$light-room-ceil-background: var(--room-light-room-ceil-background, #fff url('./../img/wall.png') repeat 30px 30px);
$light-room-ceil-shadow: var(--room-light-room-ceil-shadow, 0 0 100px rgba(0, 0, 0, 0.1), 0 0 150px rgba(0, 0, 0, 0.2) inset);
$light-room-button-background: var(--room-light-room-button-background, #3c3642);
$light-room-button-color: var(--room-light-room-button-color, #fff);
$light-room-button-border: var(--room-light-room-button-border, 0 none);
$light-room-button-shadow: var(--room-light-room-button-shadow, 0 0 2px rgba(0, 0, 0, 0.5));
$light-room-button-current-background: var(--room-light-room-button-current-background, #fff);
$light-room-button-current-border: var(--room-light-room-button-current-border, 0 none);
$light-room-button-current-color: var(--room-light-room-button-current-color, #3c3642);
$light-room-button-current-shadow: var(--room-light-room-button-current-shadow, none);
$light-room-canvas-border: var(--room-light-room-canvas-border, 10px solid #3c3642);
$light-room-canvas-shadow: var(--room-light-room-canvas-shadow, 1px 1px 3px rgba(0, 0, 0, 0.5));

// Dark theme:
$dark-room-background-blend-mode: var(--room-dark-room-background-blend-mode, screen);
$dark-room-body-background: var(--room-dark-room-body-background, #1c1e24);
$dark-room-text-color: var(--room-dark-room-text-color, #fff);
$dark-room-floor-background: var(--room-dark-room-floor-background, #241c11 url('./../img/dark-floor.jpg') repeat 150px 150px);
$dark-room-floor-shadow: var(--room-dark-room-floor-shadow, none);
$dark-room-wall-background: var(--room-dark-room-wall-background, #1c1e24 url('./../img/dark-wall.jpg') repeat 150px 150px);
$dark-room-wall-shadow: var(--room-dark-room-wall-shadow, 0 0 50px rgba(0,0,0,0.7),0 0 100px rgba(0,0,0,0.7) inset);
$dark-room-ceil-background: var(--room-dark-room-ceil-background, #1c1e24 url('./../img/dark-wall.jpg') repeat 150px 150px);
$dark-room-ceil-shadow: var(--room-dark-room-ceil-shadow, 0 0 100px rgba(0,0,0,0.7),0 0 150px rgba(0,0,0,0.7) inset);
$dark-room-button-background: var(--room-dark-room-button-background, #fff);
$dark-room-button-color: var(--room-dark-room-button-color, #000);
$dark-room-button-border: var(--room-dark-room-button-border, 0 none);
$dark-room-button-shadow: var(--room-dark-room-button-shadow, 0 0 2px rgba(0, 0, 0, 0.5));
$dark-room-button-current-background: var(--room-dark-room-button-current-background, #000);
$dark-room-button-current-border: var(--room-dark-room-button-current-border, 0 none);
$dark-room-button-current-color: var(--room-dark-room-button-current-color, #fff);
$dark-room-button-current-shadow: var(--room-dark-room-button-current-shadow, 0 0 5px 5px rgba(255, 255, 255, 0.3));
$dark-room-canvas-border: var(--room-dark-room-canvas-border, 10px solid $room-button-background);
$dark-room-canvas-shadow: var(--room-dark-room-canvas-shadow, 0 0 10px rgba(255, 255, 255, 0.1));

// ROOM GALLERY

/// MIXING that you can modify - buttons, but be careful

@mixin room-floor() {
  background: $room-floor-background;
  background-blend-mode: $room-background-blend-mode;
  background-repeat: repeat;
}
@mixin room-wall() {
  background: $room-wall-background;
  background-blend-mode: $room-background-blend-mode;
}
@mixin room-ceil() {
  background: $room-ceil-background;
  background-blend-mode: $room-background-blend-mode;
}

@mixin  room-item-desc() {
  font-size: 1.3rem;
  p {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  span {
    font-size: 1.1rem;
  }
}

@mixin room-pagination-current() {
  border: $room-button-current-border;
  background-color: $room-button-current-background;
  color: $room-button-current-color;
  box-shadow: $room-button-current-shadow;
}

@mixin room-button-icon() {
  height: auto;
  width: 60%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@mixin room-button($size: $room-button-size) {
  height: $size;
  min-width: calc($size - ($size / 1.5));
  padding: 0 calc( $size / 1.5 / 2);
  color: $room-button-color;
  line-height: $size;
  font-size: calc($size / 2.5);
  border: $room-button-border;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  box-sizing: content-box;
  &:not(.#{room-icon}) {
    background: $room-button-background;
    border-radius: $size;
    &.active {
      color: $room-button-background;
      background-color: $room-button-color;
    }
  }
  &.#{room-icon} {
    background: none;
    font-size: calc( $size / 1.8 );
    &:not(.active) {
      filter: invert(100%);
    }
  }
  &:hover {
    text-decoration: none;
  }
}

@mixin room-prev-button($size: $room-button-size) {
  display: block;
  left: $room-buttons-position;
  right: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  font-weight: bold;
  border: 0 none;
  width: $room-nav-button-size;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  &:not(.#{room-icon}) {
    height: $room-nav-button-size;
    transform: rotate(-45deg);
    border-radius: 0 $size $size $size;
    span {
      transform: rotate(45deg);
      display: inline-block;
    }
  }
}

@mixin room-next-button($size: $room-button-size) {
  display: block;
  right: $room-buttons-position;
  left: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  font-weight: bold;
  border: 0 none;
  width: $room-nav-button-size;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  &:not(.#{room-icon}) {
    height: $room-nav-button-size;
    border-radius: $size 0 $size $size;
    transform: rotate(45deg);
    span {
      transform: rotate(-45deg);
      display: inline-block;
    }
  }
}

@mixin room-exit-button() {
  font-size: $room-text-font-size;
  color: $room-button-color;
  width: $room-button-exit-width;
  height: $room-button-size;
  line-height: $room-button-size;
  padding: 0;
  top: $room-button-zoom-position;
  text-align: center;
  cursor: pointer;
  opacity: $room-button-opacity;
  will-change: opacity;
  border: 0 none;
  &:not(.#{room-icon}) {
    background-color: $room-button-background;
    border-radius: $room-button-size;
    box-shadow: $room-button-shadow;
    svg, img {
      @include room-button-icon;
    }
  }
  &.#{room-icon} {
    background: none;
    filter: invert(100%);
  }
  &:hover {
    opacity: 1;
    transition: $room-button-transition;
  }
}

@mixin room-zoom-button() {
  right: 0;
  left: 0;
  font-size: $room-text-font-size;
  color: $room-button-color;
  top: $room-button-zoom-position;
  height: $room-button-size;
  line-height: $room-button-size;
  border: 0;
  padding: 0;
  width: $room-button-zoom-width;
  text-align: center;
  cursor: pointer;
  will-change: opacity;
  transition: $room-button-transition;
  &:not(.#{room-icon}) {
    background-color: $room-button-background;
    border-radius: $room-button-size;
    box-shadow: $room-button-shadow;
    svg, img {
      @include room-button-icon;
    }
  }
  &.#{room-icon} {
    background: none;
    filter: invert(100%);
  }
  &:hover {
    opacity: 1;
    transition: $room-button-transition;
  }
}

@mixin room-dark-button() {
  right: 30px;
  left: auto;
  font-size: $room-text-font-size;
  color: $room-button-color;
  top: $room-button-dark-position;
  height: $room-button-size;
  line-height: $room-button-size;
  width: $room-button-dark-width;
  text-align: center;
  border: 0;
  cursor: pointer;
  will-change: opacity;
  transition: $room-button-transition;
  &:not(.#{room-icon}) {
    background-color: $room-button-background;
    border-radius: $room-button-size;
    box-shadow: $room-button-shadow;
    svg, img {
      @include room-button-icon;
    }
  }
  &.#{room-icon} {
    background: none;
    filter: invert(100%);
  }
  &:hover {
    opacity: 1;
    transition: $room-button-transition;
  }
}

@mixin room-dark-button-active() {
  box-shadow: $dark-room-button-current-shadow;
}


/// End of Mixing


/// DO NOT MODIFY ABOVE, TRY TO NOT MODIFY BELOW - in your own risk

.#{$room} {
  padding-bottom: $room-size-height;
  font-family: $room-font-family;
  box-sizing: border-box;
  position: relative;
  display: block;
  max-height: 100%;
  overflow: hidden;
  z-index: $room-zindex;
  @media (max-width: $room-mobile-media-width) {
    width: $room-mobile-size-width;
    height: $room-mobile-size-height;
    padding-bottom: $room-mobile-size-height;
  }
  .#{$room-exit-button} {
    transition: $room-button-transition;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    z-index: calc($room-zindex + 100);
    @include room-exit-button;
  }
  
  .#{$room-navigations}, .#{$room-paginations} {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    button {
      margin: calc( $room-pagination-buttons-space / 2 );
    }
    button {
      @include room-button;
    }
  }
  .#{$room-navigations} {
    bottom: 50%;
    .#{$room-prev-button} {
      @include room-prev-button;
    }
    .#{$room-next-button} {
      @include room-next-button;
    }
    .#{room-icon} {
      background: none;
      filter: invert(100%);
      svg, img {
        width: auto;
        height: 100%;
      }
    }
  }
  button.#{room-icon} {
    svg, img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  .#{$room-paginations}  {
    bottom: $room-pagination-position;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    button {
      @include room-button($room-pagination-button-size);
      display: inline-block;
    }
  }

  .#{$room-item} {
    z-index: 1000;
    .#{$room-canvas} {
      border: $room-canvas-border;
      box-shadow: $room-canvas-shadow;
    }
    img, picture {
      + * {
        font-size: $room-text-font-size;
        color: $room-text-color;
        text-align: center;
        line-height: $room-font-line-height;
        margin-top: $room-text-margin-top;
        @media (max-width: $room-mobile-media-width) {
          font-size: $room-text-font-size-mobile;
        }
      }
    }
  }

  .#{$room-floor} {
    z-index: 0;
    @include room-floor;
  }
  .#{$room-wall} {
    @include room-wall;
    z-index: 1;
    pointer-events: none;
    &.#{$room-wall-active} {
      pointer-events: auto;
      z-index: 10;
    }
  }
  .#{$room-ceil} {
    @include room-ceil;
  }

  .#{$room-body} {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-bottom: $room-navigations-margin;
    background: $room-body-background;
    color: $room-text-color;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    .#{$room-zoom-button} {
      z-index: calc($room-zindex + 1000);
      margin: auto;
      position: absolute;
      @include room-zoom-button;
    }
    .#{$room-dark-button} {
      z-index: calc($room-zindex + 1000);
      margin: auto;
      position: absolute;
      @include room-dark-button;
    }
  }
}

.#{$room-arena} {
  -webkit-perspective : $room-perspective;
  -moz-perspective: $room-perspective;
  -o-perspective: $room-perspective;
  -ms-perspective: $room-perspective;
  perspective: $room-perspective;
  -webkit-transform: translate3d(0, $room-offset-y, 0) scale($room-scale);
  -ms-transform: translate3d(0, $room-offset-y, 0) scale($room-scale);
  transform: translate3d(0, $room-offset-y, 0) scale($room-scale);
  transform-origin: center center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  will-change: transform;
  transition: transform $room-rotate-speed $room-rotate-timing;
  @media (max-width: $room-mobile-media-width) {
    -webkit-perspective: $room-mobile-perspective;
    -moz-perspective: $room-mobile-perspective;
    -o-perspective: $room-mobile-perspective;
    -ms-perspective: $room-mobile-perspective;
    perspective: $room-mobile-perspective;
  }
}

.#{$room} .#{$room-wall} {
  position: relative;
  > * {
    width: $room-item-width;
    height: $room-item-height;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    video {
      max-width: 100%;
      max-height: 100%;
    }
    > img, > picture {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: auto;
      object-fit: contain;
    }
  }
  .#{$room-item-image} {
    object-fit: contain;
    flex: 1 0 auto;
    min-width: 0;
    min-height: 0;
    position: relative;
    width: 100%;
    > img, > picture {
      height: 100%;
      max-width: 100%;
      object-fit: contain;
      width: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: opacity 0.5s;
    }
  }

  .#{$room-item-desc} {
    flex: 0 1 auto;
    min-width: 0;
    min-height: $room-text-min-height;
    max-height: $room-text-max-height;
    max-width: $room-text-max-width;
    padding: $room-text-padding;
    overflow: auto;
    margin: 0;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include room-item-desc;
  }
}

@mixin walls-3d($room-s-w, $room-s-h) {
  transition: transform $room-rotate-speed $room-rotate-timing;
  transform-style: preserve-3d;
  will-change: transform;
  > div {
    position: absolute;
    height: inherit;
    width: inherit;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    &.#{$room-ceil}, &.#{$room-floor} {
      height: $room-s-w;
      width: $room-s-w;
    }
    &.wall-n {
      transform: translate3d(0, 0, calc(-1 * $room-s-w / 2));
    }
    &.wall-w {
      transform: rotateY(90deg) translate3d(0, 0, calc(-1 * $room-s-w / 2));
    }
    &.wall-s {
      transform: rotateY(180deg) translate3d(0, 0, calc(-1 * $room-s-w / 2));
    }
    &.wall-e {
      transform: rotateY(-90deg) translate3d(0, 0, calc(-1 * $room-s-w / 2));
    }
    &.#{$room-ceil} {
      transform: rotateX(-90deg) translate3d(0, 0, calc(-1 * $room-s-w / 2)) rotate(180deg);
    }
    &.#{$room-floor}  {
      $room-s-w-2: calc($room-s-w / 2);
      @if not (unit($room-s-w) == px) {
        $room-s-w-2-set: strip-unit($room-s-w-2) + vw;
        $room-s-h-set: strip-unit($room-s-h) + vh;
      }
      $room-s-w-2-set: $room-s-w-2;
      $room-s-h-set: $room-s-h;
      transform: #{rotateX(-90deg) translate3d(0, 0, -$room-s-w-2-set) rotate(180deg) rotateY(-180deg) translate3d(0, 0, -$room-s-h-set)};
    }
  }
}

.#{$room} .#{$room-body} .#{$room-walls} {
  @include walls-3d($room-size-width, $room-size-height);
  @media (max-width: $room-mobile-media-width) {
    @include walls-3d($room-mobile-size-width, $room-mobile-size-height);
  }
}
.#{$room} .#{$room-walls} {
  height: $room-size-height;
  width: $room-size-width;
  position: absolute;
  margin: 0 auto;
  pointer-events: none;
  @media (max-width: $room-mobile-media-width) {
    width: $room-mobile-size-width;
    height: $room-mobile-size-height;
  }
  .#{$room-wall}, .#{$room-ceil}, .#{$room-floor} {
    overflow: hidden;
  }
  &.first, &.last {
    .#{$room-wall} {
      &.wall-e, &.wall-w {
        box-shadow: $room-wall-shadow;
      }
    }
  }
  &.first:not(.last) {
    .#{$room-ceil}, .#{$room-floor} {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        pointer-events: none;
      }
    }
    .#{$room-floor} {
      &:before {
        box-shadow: $room-floor-shadow;
        left: -0;
        right: -50%;
      }
    }
    .#{$room-ceil} {
      &:before {
        right: 0;
        left: -50%;
        box-shadow: $room-ceil-shadow;
      }
    }
    .#{$room-wall} {
      &.wall-n, &.wall-s {
        &:before {
          box-shadow: $room-wall-shadow;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          pointer-events: none;
        }
      }
      &.wall-n {
        &:before {
          left: 0;
          right: -50%;
        }
      }
      &.wall-s {
        &:before {
          right: 0;
          left: -50%;
        }
      }
    }
  }
  &:not(.first):not(.last) {
    .#{$room-ceil}, .#{$room-floor} {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        pointer-events: none;
        right: -50%;
        left: -50%;
      }
    }
    .#{$room-floor} {
      &:before {
        box-shadow: $room-floor-shadow;
      }
    }
    .#{$room-ceil} {
      &:before {
        box-shadow: $room-ceil-shadow;
      }
    }
    .#{$room-wall} {
      &.wall-n, &.wall-s {
        &:before {
          box-shadow: $room-wall-shadow;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: -50%;
          right: -50%;
          pointer-events: none;
        }
      }
    }
  }
  &.last:not(.first) {
    .#{$room-ceil}, .#{$room-floor} {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        pointer-events: none;
        
      }
    }
    .#{$room-floor} {
      &:before {
        box-shadow: $room-floor-shadow;
        left: -50%;
        right: 0;
      }
    }
    .#{$room-ceil} {
      &:before {
        right: -50%;
        left: 0;
        box-shadow: $room-ceil-shadow;
      }
    }
    .#{$room-wall} {
      &.wall-n, &.wall-s {
        &:before {
          box-shadow: $room-wall-shadow;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          pointer-events: none;
        }
      }
      &.wall-n {
        &:before {
          left: -50%;
          right: 0;
        }
      }
      &.wall-s {
        &:before {
          left: 0;
          right: -50%;
        }
      }
    }
  }
  &.first.last {
    .#{$room-floor} {
      box-shadow: $room-floor-shadow;
    }
    .#{$room-ceil} {
      box-shadow: $room-ceil-shadow;
    }
    .#{$room-wall} {
      &.wall-n, &.wall-s {
        box-shadow: $room-wall-shadow;
      }
    }
  }
  > div {
    position: absolute;
    backface-visibility: hidden;
  }
}

.#{$room} {
  &.#{$room-zoom} {
    .#{$room-body} {
      .#{$room-arena} {
        transition: transform $room-rotate-speed $room-rotate-timing;
        -webkit-transform: scale($room-scale-zoom);
        -ms-transform: scale($room-scale-zoom);
        transform: scale($room-scale-zoom);
        will-change: transform;
      }
    }
  }
}

/// Variables eject

.#{$room} {
  --room-body-background-blend-mode: #{$light-room-background-blend-mode};
  --room-body-background: #{$light-room-body-background};
  --room-text-color: #{$light-room-text-color};
  --room-floor-background: #{$light-room-floor-background};
  --room-floor-shadow: #{$light-room-floor-shadow};
  --room-wall-background: #{$light-room-wall-background};
  --room-wall-shadow: #{$light-room-wall-shadow};
  --room-ceil-background: #{$light-room-ceil-background};
  --room-ceil-shadow: #{$light-room-ceil-shadow};
  --room-button-background: #{$light-room-button-background};
  --room-button-color: #{$light-room-button-color};
  --room-button-border: #{$light-room-button-border};
  --room-button-shadow: #{$light-room-button-shadow};
  --room-button-current-background: #{$light-room-button-current-background};
  --room-button-current-border: #{$light-room-button-current-border};
  --room-button-current-color: #{$light-room-button-current-color};
  --room-button-current-shadow: #{$light-room-button-current-shadow};
  --room-canvas-border: #{$light-room-canvas-border};
  --room-canvas-shadow: #{$light-room-canvas-shadow};

  &.#{$room-dark} {
    --room-body-background-blend-mode: #{$dark-room-background-blend-mode};
    --room-body-background: #{$dark-room-body-background};
    --room-text-color: #{$dark-room-text-color};
    --room-floor-background: #{$dark-room-floor-background};
    --room-floor-shadow: #{$dark-room-floor-shadow};
    --room-wall-background: #{$dark-room-wall-background};
    --room-wall-shadow: #{$dark-room-wall-shadow};
    --room-ceil-background: #{$dark-room-ceil-background};
    --room-ceil-shadow: #{$dark-room-ceil-shadow};
    --room-button-background: #{$dark-room-button-background};
    --room-button-color: #{$dark-room-button-color};
    --room-button-border: #{$dark-room-button-border};
    --room-button-shadow: #{$dark-room-button-shadow};
    --room-button-current-background: #{$dark-room-button-current-background};
    --room-button-current-border: #{$dark-room-button-current-border};
    --room-button-current-color: #{$dark-room-button-current-color};
    --room-button-current-shadow: #{$dark-room-button-current-shadow};
    --room-canvas-border: #{$dark-room-canvas-border};
    --room-canvas-shadow: #{$dark-room-canvas-shadow};
  }
}

@media (prefers-color-scheme: dark) {
  .#{$room}.#{$room-dark-auto} {
    --room-body-background-blend-mode: #{$dark-room-background-blend-mode};
    --room-body-background: #{$dark-room-body-background};
    --room-text-color: #{$dark-room-text-color};
    --room-floor-background: #{$dark-room-floor-background};
    --room-floor-shadow: #{$dark-room-floor-shadow};
    --room-wall-background: #{$dark-room-wall-background};
    --room-wall-shadow: #{$dark-room-wall-shadow};
    --room-ceil-background: #{$dark-room-ceil-background};
    --room-ceil-shadow: #{$dark-room-ceil-shadow};
    --room-button-background: #{$dark-room-button-background};
    --room-button-color: #{$dark-room-button-color};
    --room-button-border: #{$dark-room-button-border};
    --room-button-shadow: #{$dark-room-button-shadow};
    --room-button-current-background: #{$dark-room-button-current-background};
    --room-button-current-border: #{$dark-room-button-current-border};
    --room-button-current-color: #{$dark-room-button-current-color};
    --room-button-current-shadow: #{$dark-room-button-current-shadow};
    --room-canvas-border: #{$dark-room-canvas-border};
    --room-canvas-shadow: #{$dark-room-canvas-shadow};
    .#{$room-dark-button} {
      @include room-dark-button-active;
    }
  }
}